doctype html
head(lang="vi")
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title #{title}
  link(rel="stylesheet", href="/public/css/font awesome/all.min.css")
  link(rel="stylesheet" type="text/css" href="/public/admin.css")
  block style
body
  block body

  //- block script
