doctype html
head(lang="vi")
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title #{title}
  link(rel="stylesheet" type="text/css" href="/public/admin.css")
  link(rel="stylesheet", href="/public/css/font awesome/all.min.css")
  block style
body
  .wrapper
    .box.header
      span Monday
      .user-profile
        a Cuong
        .list-action
          a Profile
          a Logout
    .box.sidebar
      .logo
      .avatar
        img(src="/public/images/avatar.jpg", alt="avatar")
        span Hello, Cuong
      .menu
        p Menu
        .side-menu
          .collapse-menu
            button collapse
            ul
              li
                a(href="#") link
              li
                a(href="#") link
              li
                a(href="#") link
        .side-menu
          .collapse-menu
            button collapse
            ul
              li
                a(href="#") link
              li
                a(href="#") link
              li
                a(href="#") link
        .side-menu
          .collapse-menu
            button collapse
            ul
              li
                a(href="#") link
              li
                a(href="#") link
              li
                a(href="#") link
        .side-menu
          .collapse-menu
            button collapse
            ul
              li
                a(href="#") link
              li
                a(href="#") link
              li
                a(href="#") link
    .box.content Content
      br
      span More content than we had before so this column is now quite tall. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tempore deleniti id voluptate nobis consequatur. In recusandae delectus adipisci tempora vero earum. Ipsa atque quaerat obcaecati enim sunt pariatur cumque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat id commodi voluptates ut esse fuga voluptatibus eius corporis minus ad at sapiente magnam beatae impedit harum cumque, voluptatem, reprehenderit explicabo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, autem doloribus quas alias in nisi recusandae, quo non velit magni doloremque dicta voluptatem minus ab, laborum corporis delectus! Dolore, repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptas, perferendis fugit labore quaerat beatae voluptatem fuga dolorum odio exercitationem officiis porro quia nam, enim possimus fugiat reprehenderit! Dolore, delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus fugiat tenetur minus, doloribus sequi blanditiis animi, nostrum, obcaecati rem perspiciatis cum perferendis. Voluptate impedit dicta provident possimus, assumenda officia amet. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde atque provident impedit enim! Quae rem corrupti quibusdam vero maxime, impedit sunt quisquam illum quas officia quaerat vitae alias repudiandae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus hic deleniti corporis quae perferendis provident ducimus sint deserunt numquam aliquid ipsa quos autem, beatae pariatur, soluta animi dolorum eveniet illum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum natus voluptatibus aperiam aliquam ipsum, illum totam blanditiis suscipit, numquam itaque quae explicabo quis, facilis odit provident sint omnis dignissimos nihil. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus illum quod est explicabo fuga culpa, nihil aperiam cupiditate molestias laborum assumenda nulla veniam error, tenetur placeat. Dolorum laudantium autem iure? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptates ea vero tempora tenetur nisi pariatur id amet. Esse labore modi laboriosam numquam, possimus rerum inventore debitis earum sint impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ad eveniet facilis aperiam, a id assumenda quas fugiat dolores minima, hic quaerat! Quo, dolore inventore! Rerum aliquid explicabo aliquam debitis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum et blanditiis nemo facilis eligendi quam non, harum ipsa consequuntur a cum, laudantium corrupti modi unde cupiditate nostrum nam doloribus aliquam. More content than we had before so this column is now quite tall. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tempore deleniti id voluptate nobis consequatur. In recusandae delectus adipisci tempora vero earum. Ipsa atque quaerat obcaecati enim sunt pariatur cumque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat id commodi voluptates ut esse fuga voluptatibus eius corporis minus ad at sapiente magnam beatae impedit harum cumque, voluptatem, reprehenderit explicabo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, autem doloribus quas alias in nisi recusandae, quo non velit magni doloremque dicta voluptatem minus ab, laborum corporis delectus! Dolore, repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptas, perferendis fugit labore quaerat beatae voluptatem fuga dolorum odio exercitationem officiis porro quia nam, enim possimus fugiat reprehenderit! Dolore, delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus fugiat tenetur minus, doloribus sequi blanditiis animi, nostrum, obcaecati rem perspiciatis cum perferendis. Voluptate impedit dicta provident possimus, assumenda officia amet. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde atque provident impedit enim! Quae rem corrupti quibusdam vero maxime, impedit sunt quisquam illum quas officia quaerat vitae alias repudiandae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus hic deleniti corporis quae perferendis provident ducimus sint deserunt numquam aliquid ipsa quos autem, beatae pariatur, soluta animi dolorum eveniet illum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum natus voluptatibus aperiam aliquam ipsum, illum totam blanditiis suscipit, numquam itaque quae explicabo quis, facilis odit provident sint omnis dignissimos nihil. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus illum quod est explicabo fuga culpa, nihil aperiam cupiditate molestias laborum assumenda nulla veniam error, tenetur placeat. Dolorum laudantium autem iure? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptates ea vero tempora tenetur nisi pariatur id amet. Esse labore modi laboriosam numquam, possimus rerum inventore debitis earum sint impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ad eveniet facilis aperiam, a id assumenda quas fugiat dolores minima, hic quaerat! Quo, dolore inventore! Rerum aliquid explicabo aliquam debitis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum et blanditiis nemo facilis eligendi quam non, harum ipsa consequuntur a cum, laudantium corrupti modi unde cupiditate nostrum nam doloribus aliquam.
    .box.footer Footer
  block body

  script(src="/public/js/font awesome/all.min.js")
  script(src="/public/js/jquery-3.4.1.min.js")
  script(src="/public/js/admin.js")
  block js