doctype html
head(lang="vi")
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name='_csrf', content=csrfToken)
  title #{title}
  link(rel="stylesheet", href="/public/css/font awesome/all.min.css")
  link(rel="stylesheet" type="text/css" href="/public/admin.css")
  link(rel="stylesheet", href="/public/css/toastr.min.css")
  link(rel="stylesheet", href="/public/css/bootstrap-tagsinput.css")
  link(rel="stylesheet", href="/public/css/bootstrap.min.css")
  block style
body
  .wrapper
    .box.header
      span Monday
      .user-profile
        a=firstName
        .list-action
          a Profile
          a(href='/admin/logout') Logout
    .sidebar
      .logo
      .avatar
        img(src="/public/images/avatar.jpg", alt="avatar")
        span Hello, &nbsp;
          span=firstName
      .menu
        .side-menu
          .collapse-menu
            button Post
            ul
              li
                a(href="/admin/tags") Tags
              li
                a(href="/admin/categories") Thể loại
              li
                a(href="/admin/posts") Bài đăng
              li
                a(href="/admin/list-post") Danh sách bài đăng
        .side-menu
          .collapse-menu
            button collapse
            ul
              li
                a(href="#") link
              li
                a(href="#") link
              li
                a(href="#") link
        .side-menu
          .collapse-menu
            button collapse
            ul
              li
                a(href="#") link
              li
                a(href="#") link
              li
                a(href="#") link
        .side-menu
          .collapse-menu
            button collapse
            ul
              li
                a(href="#") link
              li
                a(href="#") link
              li
                a(href="#") link
    .box.content
      block content
    .box.footer Footer


  block script
    script(src="/public/js/vue.min.js")
    script(src="/public/js/jquery.min.js")
    script(src="/public/js/font awesome/all.min.js")
    script(src="/public/js/toastr.min.js")
    script(src="/public/js/bootstrap-tagsinput.js")
    script(src="/public/js/bootstrap.min.js")
    script(src="/public/js/typeahead.bundle.js")
    script(src="/public/js/admin.js")
