@font-face {
  font-family: "open-sans-font";
  src: url("./fonts/Open_Sans/OpenSans-Regular.ttf");
}

* {
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "open-sans-font";
}

.sidebar {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  border-right: 1px solid #fff;
  background-color: #263544;
}

.content {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50px 1fr 50px;
  background-color: #fff;
}

.box {
  /* color: #fff; */
  padding: 10px;
}

.header,
.footer {
  color: #fff;
  background: #2c3e50;
}

/* Side bar */
.wrapper .avatar {
  background-color: #3e5871;
  padding: 25px 20px;
}
.wrapper .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 15px;
}

.wrapper .avatar span {
  vertical-align: middle;
  color: #fff;
}

.wrapper .sidebar .menu {
}
.wrapper .sidebar .menu {
}
.wrapper .sidebar .side-menu {
  margin: 5px 0;
  background: #263544;
}

.wrapper .sidebar .side-menu button {
  width: 100%;
  border: none;
  line-height: 30px;
  outline: none;
  text-align: left;
  cursor: pointer;
  background: #263544;
  color: #b7c0cd;
  padding: 10px 20px;
}

.wrapper .sidebar .side-menu button:hover {
  background-color: #3e5871;
  color: #fff;
}

.wrapper .sidebar .side-menu ul {
  padding-left: 0;
  margin-top: 1px;
}

.wrapper .sidebar .side-menu ul > li {
  margin-bottom: 2px;
  background: #263544;
  list-style: none;
  padding: 10px 0 10px 30px;
}

.wrapper .sidebar .side-menu ul > li:hover {
  background-color: #3e5871;
  color: #fff;
}

.wrapper .sidebar .side-menu ul a {
  display: block;
  text-decoration: none;
  color: #b7c0cd;
}
.wrapper .sidebar .side-menu ul li:hover a {
  color: #fff;
}
.wrapper .sidebar .side-menu .collapse-menu ul {
  display: none;
  overflow: hidden;
}

.dropdown {
  display: block !important;
  transition: 1s;
}

/* Header */
.wrapper .header {
  display: flex;
}

.wrapper .header .user-profile {
  margin-left: auto;
  cursor: pointer;
  text-decoration: underline;
  position: relative;
}

.wrapper .header a {
  display: block;
}

.wrapper .header .list-action {
  position: absolute;
  display: none;
}

.wrapper .header .user-profile:hover .list-action {
  display: block;
  background-color: rgb(204, 197, 197);
  color: #000;
  padding: 2px 10px;
  z-index: 10;
}

.wrapper .header a:hover {
  background-color: #444;
  color: #fff;
}

.wrapper .content .ql-snow {
  background: white;
  color: #334;
}

#editor {
  min-height: 500px;
}

.ql-editor {
  height: 100%;
  min-height: 500px;
}
.auth-login {
  background: url("../public//images/bg1.jpg");
  background-size: cover;
}
.auth-login .limit {
  max-width: 1000px;
  margin: auto;
}
.auth-login .banner {
  background: #064a62;
  color: #fff;
  position: relative;
}
.auth-login .img-welcome {
  max-width: 80%;
  object-fit: contain;
}
.auth-login .img-welcome-back {
  width: 100%;
  object-fit: contain;
}
.auth-login form {
}
.auth-login .error {
  color: red;
  padding: 15px 0 0;
  margin: 0;
}
.auth-login .input-auth-login {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #636060;
  outline: none;
}

.auth-login .input-btn-auth-login {
  padding: 10px 30px;
  background: #0984e3;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
}

.auth-login label {
  margin: 15px 5px 0;
  color: #444;
}

.auth-login button {
  margin-top: 20px;
  padding: 10px 30px;
  background: #0984e3;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.auth-login form a {
  text-decoration: none;
}

.box.content {
  background: #f2f7fb;
}
.box.content form label {
  margin: 10px 0;
  width: 100%;
}

.box.content form input {
  color: #334;
  margin: 10px 0;
  width: 100%;
  padding: 5px;
}

.box.content form button {
  padding: 5px;
  border: none;
  background: #eee;
  color: #334;
}
