doctype html
head(lang="vi")
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title #{title}
  link(rel="stylesheet" type="text/css" href="/public/main.css")
body
  h1 COLOR
  b Color text
  .flex
    div
      .w-100.h-100.bg-color-text
      p rgb(51, 51, 51);
  b Blue
  .flex
    div
      .w-100.h-100.bg-blue
      p .bg-blue rgb(9, 132, 227);
