extends ../layouts/application.pug
block body
  div.monday-index
    .gold
      .g-8
      .g-5
        .g-5-5.open-sans
          .month Tháng Năm
          .th T2
          .th T3
          .th T4
          .th T5
          .th T6
          .th T7
          .th CN
          - for (var x = 0; x < 42; x++)
            if x >= first_index && x <= end_index
              .tc=list[x]
            else
              .t=list[x]
        .g-5-3
          .g-3-2
            .g-2-1
              a(href="/").logo-font THỨ HAI
            .g-2-2
          .g-3-3
