extend ../../../layouts/dashboard.pug
block content
  h1 Thể  loại
  .add-category
    form
      label(for="category") Thêm thể loại &nbsp;
      input#category(type="text", name="category")
      button#add-category Thêm

block append script
  script(src="/public/js/categories.js")
