extend ../../../layouts/dashboard.pug
block style
  link(rel="stylesheet", href="/public/css/typeahead.css")
  link(rel="stylesheet", href="https://cdn.quilljs.com/1.3.6/quill.snow.css")
block content
  h1 Bài đăng
  <meta name="csrf-token" content="">
  input(type="hidden", name="_csrf", value=csrfToken)
  div
    label(for="post") Tiêu đề : &nbsp;
    input#post-title.form-control(name="post-title", placeholder="Tiêu đề bài viết...")
  #editor
  #toolbar
    b B
  p Tags
  input#tags(type="text", name="tags" data-roles="tagsinput" value="" autocomplete="off")
  p Thể  loại
  select#categories.form-control.col-md-4(style={width: "200px"})
  div(style={ clear: "both" })
  p
    button#add-post.btn.btn-primary Thêm bài viết
block append script
  script(src="https://cdn.quilljs.com/1.3.6/quill.js")
  script(src="/public/js/post.js")
