extend ../../../layouts/dashboard.pug
block style
  link(rel="stylesheet", href="/public/css/typeahead.css")
  link(rel="stylesheet", href="/public/css/easymde.min.css")

block content
  #post
    h1 Bài đăng
    form
      label(for="post") Tiêu đề : &nbsp;
      input#post-title.form-control(
        name="post-title",
        placeholder="Tiêu đề bài viết...",
        v-model="title"
      )
      textarea#editor
      label Thể  loại
      select#categories.form-control(v-model="category")
        option(v-for="(category, index) in listCategories", v-key=index, v-bind:value="category._id") {{ category.title }}
      label
      button#add-post(v-on:click.prevent="createPost") Thêm bài viết

block append script
  script(src="/public/js/easymde.min.js")
  script(src="/public/js/all.js")
  script(src="/public/js/post.js")
